{
  "presets": [["env", {
    "targets": {
      "browsers": ["last 2 versions", "> 5%", "iOS >= 8", "Android >= 4.3"]
    }
  }], "stage-3"],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
